{
"Database": {
"Hostname": "comet-db",
"Schema": "zf",
"Username": "root",
"Password": "970E95B5FFEEE7C32ACF1FAFD7EB3665F2CEDBDF"
},
"GameNetwork": {
"IPAddress": "0.0.0.0",
"Port": 5816,
"MaxConn": 500,
"ServerIdentity": 1,
"ServerName": "Dark",
"Username": "ASDAgdGwHD",
"Password": "GSGsGgSGSG"
},
"RpcNetwork": {
"IPAddress": "172.21.0.22",
"Port": 9865
},
"Authentication": {
"StrictAuthPass": false
}
}